body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*
header
*/

.main-header {
  background-color: #293449;
}

.logo {
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.search {
  background-color: #293449;
}

.search:hover {
  background-color: #212a3a;
}

.search:focus {
  background-color: #ffffff;
}

.search input {
  background-color: #293449;
  border: none;
}

.search input:hover {
  background-color: #212a3a;
  border: none;
}

.search input:focus {
  background-color: #ffffff;
  border: none;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.search input::placeholder {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  opacity: 1;
}

.bookmark {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
}

.bookmark:hover {
  background-color: #212a3a;
}

.bookmark:focus {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.cart {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
}

.cart:hover {
  background-color: #212a3a;
}

.cart:focus {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.cart-full {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  background-color: #ee3643;
}

.order {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  background-color: #63a63e;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:focus {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.grey-background {
  background-color: #f4f7f9;
}

.slogan {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.contacts-header {
  color: #32425c;
  font-size: 14px;
}

.phone {
  color: #e9292a;
  font-size: 21px;
  line-height: 21px;
  border: solid 3px #ffffff;
}

.sign-in,
.sign-up {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.sign-in,
.sign-up:hover {
  color: #ee3643;
}

.sign-in,
.sign-up:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user {
  font-size: 21px;
  line-height: 21px;
}

.user:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation {
  color: #32425c;
  font-size: 16px;
  text-decoration: underline;
}

.user-navigation:hover {
  color: #ee3643;
}

.user-navigation:focus {
  color: rgba(50, 66, 92, 0.3);
}

.site-navigation {
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}

.site-navigation-list {
  color: #ffffff;
  list-style: none;
}

.site-navigation-list a {
  color: #ffffff;
  font-size: 17px;
}

.site-navigation-list a:hover {
  background-color: #293449;
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 25px;
}

.site-navigation-list a:focus {
  color: rgba(255, 255, 255, 0.5);
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

/*
main
*/

.grey-background {
  background-color: #f4f7f9;
}

.subtitle {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
}

.info .list {
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.button {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  text-transform: uppercase;
}

.button:hover {
  background-color: #ca2c37;
}

.button:focus {
  background-color: #ba2732;
}

.category-title {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  background-color: #f2f6f8;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
}

.filter ul {
  font-size: 15px;
  line-height: 20px;
  list-style: none;
}

.filter-input:hover + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
  opacity: 0.4;
}

.filter-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.catalog-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.catalog-item-title a {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 20px;
  font-weight: bold;
}

.catalog-item-price {
  color: #999999;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.catalog-item-price a {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.catalog-item-buy {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
}

.catalog-item-buy:hover {
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #5fbb2d;
}

.catalog-item-buy:focus {
background-color: #518534;
}

.catalog-item-bookmark {
  color: #32425c;
  font-size: 14px;
  line-height: 18px;
  border: solid 3px #63a63e;
}

.catalog-item-bookmark:hover {
  color: #32425c;
  border: solid 3px #32425c;
}

.catalog-item-bookmark:focus {
  color: rgba(50, 66, 92, 0.3);
  opacity: 0.3;
  border: solid 3px #32425c;
}

/*
footer
*/

.footer {
  background-color: #32425c;
}

.footer-social {
  background-color: #293449;
}

.social {
  list-style: none;
}

.social-button {
  background-color: #212a3a;
  border-radius: 50px;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.footer-contacts {
  color: #f1f5f7;
}

.footer-navigation {
  list-style: none;
}

.footer-navigation .white-link {
  color: #f1f5f7;
}

.footer-navigation .white-link:hover {
  text-decoration: underline;
}

.footer-navigation .white-link:focus {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: underline;
}

.footer-navigation .yellow-link {
  color: #ffd180;
}

.footer-navigation .yellow-link:hover {
  text-decoration: underline;
}

.footer-navigation .yellow-link:focus {
  color: rgba(255, 209, 128, 0.5);
}

.copyright,
.feedback {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.feedback-link {
color: #ffd180;
}

.feedback-link:hover {
  text-decoration: underline;
}

.feedback-link:focus {
  color: #ee3643;
}

/*
Сеточные стили
*/

html,
body {
  min-width: 1200px;
  box-sizing: border-box;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

/*header*/
.grey-background {
  height: 278px;
}

.main-navigation {
  height: 42px;
}

.site-navigation {
  width: 940px;
  margin-bottom: 60px;
}

.site-navigation-list {
  padding-left: 52px;
  padding-right: 55px;
  justify-content: space-around;
}

.logo {
  width: 220px;
  padding-top: 13px;
  padding-right: 56px;
  padding-bottom: 12px;
  padding-left: 55px;
  box-sizing: border-box;
}

.search-form {
  width: 270px;
  padding-left: 17px;
  box-sizing: border-box;
}

.search {
  padding-left: 32px;
} 

.bookmark {
  width: 150px;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 12px;
  padding-left: 44px;
  box-sizing: border-box;
}

.cart {
  width: 150px;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 12px;
  padding-left: 50px;
  box-sizing: border-box;
}

.order {
  width: 150px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  box-sizing: border-box;
}

.slogan {
  width: 196px;
  margin-top: 49px;
  margin-right: 81px;
  margin-bottom: 44px;
  margin-left: 52px;
}

.phone {
  padding-top: 13px;
  padding-right: 52px;
  padding-bottom: 11px;
  padding-left: 74px;
}

.contacts-header {
  margin: 0px;
  width: 270px;
  margin-top: 59px;
  margin-bottom: 44px;
}

.sign-in {
  width: 121px;
  padding-top: 14px;
  padding-right: 27px;
  padding-bottom: 11px;
  padding-left: 48px;
  margin-right: 10px;
  background-color: #ffffff;
  margin-top: 46px;
  margin-bottom: 67px;
}

.sign-up {
  width: 150px;
  padding-top: 14px;
  padding-right: 25px;
  padding-bottom: 11px;
  padding-left: 25px;
  background-color: #ffffff;
  margin-top: 46px;
  margin-bottom: 67px;
}

.user {
  width: 299px;
  background-color: #ffffff;
  padding-top: 14px;
  padding-right: 69px;
  padding-bottom: 11px;
  padding-left: 47px;
  box-sizing: border-box;
}

.orders {
  width: 75px;
  margin-right: 32px;
  margin-top: 10px;
}

.account {
  width: 104px;
  margin-top: 10px;
}

/*main*/

.info {
  width: 519px;
  margin-right: 120px;
}

.info .text {
  margin-bottom: 36px;
}

.info .list {
  margin: 0px;
  margin-bottom: 37px;
}
.list .li:nth-child(-n+2) {
  color: #5fbb2d;
}

.main-contacts {
  width: 300px;
}

.main-contacts .text {
  width: 179px;
  margin-bottom: 36px;
}

.info .button {
  width: 220px;
  padding-top: 14px;
  padding-right: 40px;
  padding-bottom: 12px;
  padding-left: 41px;
}

.main-contacts .button {
  width: 300px;
  padding-top: 14px;
  padding-right: 59px;
  padding-bottom: 12px;
  padding-left: 63px;
  margin-top: 40px;
}

.contacts-map {
  margin: 0px;
  margin-bottom: 86px;
}

.map {
  margin-bottom: 40px;
}

.title {
  margin-top: 67px;
}

.desc {
  margin-bottom: 73px;
}

/*footer*/

.logo-big {
  width: 220px;
  padding-top: 20px;
  padding-right: 41px;
  padding-bottom: 25px;
  padding-left: 41px;
  margin-right: 166px;
  box-sizing: border-box;
}

.footer-navigation {
  margin: 0px;
  padding: 0px;
}

.social-button {
  width: 42px;
}

.social {
  margin-right: 119px;
  margin-top: 35px;
  margin-bottom: 30px;
}

.facebook {
  margin-left: 3px;
  margin-right: 3px;
}

.mail {
  width: 135px;
  margin-right: 53px;
  margin-top: 40px;
  margin-bottom: 35px;
}

.site {
  width: 96px;
  margin-top: 39px;
  margin-bottom: 34px;
}

.footer-contacts {
  width: 322px;
  margin-top: 0px;
  margin-right: 91px;
  margin-bottom: 53px;
}

.white-list {
  margin-top: 42px;
}

.yellow-list {
  margin-top: 45px;
}

.white-list li:nth-child(-n+4) {
  margin-right: 60px;
}

.yellow-list li:nth-child(-n+3) {
  margin-right: 60px;
}

.footer-contacts {
  margin-top: 45px;
}

.copyright {
  width: 228px;
  margin-right: 161px;
  margin-top: 39px;
  margin-bottom: 35px;
}



