body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*
header
*/

.main-header {
  background-color: #293449;
}

.logo {
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.search {
  background-color: #293449;
}

.search:hover {
  background-color: #212a3a;
}

.search:focus {
  background-color: #ffffff;
}

.search input {
  background-color: #293449;
  border: none;
}

.search input:hover {
  background-color: #212a3a;
  border: none;
}

.search input:focus {
  background-color: #ffffff;
  border: none;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.search input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.search input:focus::placeholder {
  color: #000000;
}

.bookmark {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
}

.bookmark:hover,
.bookmark:focus {
  background-color: #212a3a;
}

.bookmark:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.cart {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
}

.cart:hover,
.cart:focus {
  background-color: #212a3a;
}

.cart:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.cart-full {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  background-color: #ee3643;
}

.order {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  background-color: #63a63e;
}

.order:hover,
.order:focus {
  background-color: #5fbb2d;
}

.order:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.grey-background {
  background-color: #f4f7f9;
}

.slogan {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.contacts-header {
  color: #32425c;
  font-size: 14px;
}

.phone {
  color: #e9292a;
  font-size: 21px;
  line-height: 21px;
  border: solid 3px #ffffff;
}

.sign-in,
.sign-up {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.sign-in:hover,
.sign-up:hover {
  color: #ee3643;
}

.sign-in:focus,
.sign-up:focus {
  color: #ee3643;
}

.sign-in:active,
.sign-up:active {
color: rgba(0, 0, 0, 0.3);
}

.user {
  font-size: 21px;
  line-height: 21px;
}

.user:focus {
  color: rgba(0, 0, 0, 0.3);
}

.orders {
  margin-right: 10px;
  margin-left: 60px;
}

.orders::after {
  width: 4px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
}

.orders,
.account {
  color: #32425c;
  font-size: 16px;
  text-decoration: underline;
}

.orders:hover,
.account:hover {
  color: #ee3643;
}

.orders:focus,
.account:focus {
  color: #ee3643;
}

.orders:active,
.account:active {
  color: rgba(50, 66, 92, 0.3);
}

.site-navigation {
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}

.site-navigation-list {
  color: #ffffff;
  list-style: none;
}

.site-navigation-list a {
  color: #ffffff; 
  font-size: 17px;
  padding-top: 20px;
  padding-right: 33px;
  padding-bottom: 20px;
  padding-left: 34px;
  justify-content: space-between;
}

.site-navigation-list a:hover,
.site-navigation-list a:focus {
  background-color: #293449;
}

.site-navigation-list a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

/*
main
*/

.subtitle {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
}

.info .list {
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.button {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  text-transform: uppercase;
}

.button:hover {
  background-color: #ca2c37;
}

.button:focus {
  background-color: #ba2732;
}

.category-title {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  background-color: #f2f6f8;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
}

.filter ul {
  font-size: 15px;
  line-height: 20px;
  list-style: none;
}

.filter-input:hover + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
  opacity: 0.4;
}

.filter-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.catalog-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.catalog-item-title a {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 20px;
  font-weight: bold;
}

.catalog-item-price {
  color: #999999;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.catalog-item-price a {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

/*
footer
*/

.footer {
  background-color: #32425c;
}

.footer-social {
  background-color: #293449;
}

.social-button {
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social li {
  margin-left: 3px;
  margin-right: 3px;
}

.social li:first-child {
  margin-left: 0;
}

.social li:last-child {
  margin-right: 0;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.footer-contacts {
  color: #f1f5f7;
}

.footer-navigation {
  list-style: none;
}

.footer-navigation .white-link {
  color: #f1f5f7;
}

.footer-navigation .white-link:hover {
  text-decoration: underline;
}

.footer-navigation .white-link:focus {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: underline;
}

.footer-navigation .yellow-link {
  color: #ffd180;
}

.footer-navigation .yellow-link:hover {
  text-decoration: underline;
}

.footer-navigation .yellow-link:focus {
  color: rgba(255, 209, 128, 0.5);
}

.copyright,
.feedback {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.feedback-link {
color: #ffd180;
}

.feedback-link:hover {
  text-decoration: underline;
}

.feedback-link:focus {
  color: #ee3643;
}

/*
Сеточные стили
*/

html,
body {
  min-width: 960px;
}

body { 
margin: 0;
}

img { 
max-width: 100%;
}

a { 
text-decoration: none;
}

html { 
box-sizing: border-box; 
}

*, *::before, *::after { 
box-sizing: inherit; 
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

/*header*/

.site-navigation {
  width: 940px;
  margin-bottom: 60px;
}

.site-navigation-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 220px;
  padding-top: 10px;
  padding-right: 56px;
  padding-bottom: 10px;
  padding-left: 55px;
  margin-bottom: -10px;
}

.search {
  margin: 0;
  position: relative;
}

.search input {
  width: 270px;
  padding-left: 49px;
  padding-top: 12px;
  padding-bottom: 12px;
} 

.search::before {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  top: 12px;
  left: 15px;
  background: url("../img/search.svg") no-repeat 0 0;
  opacity: 0.3;
}

.search:hover::before,
.search:focus::before {
  opacity: 1;
}

.search:active::before {
  background: url("../img/icon-search.svg");
}

.search input:focus + label::before { 
  opacity: 1; 
}


.bookmark {
  width: 150px;
  padding-top: 14px;
  padding-right: 5px;
  padding-bottom: 13px;
  padding-left: 44px;
  position: relative;
}

.bookmark::before {
  content: "";
  width: 14px;
  height: 16px;
  position: absolute;
  top: 12px;
  left: 13px;
  background-image: url("../img/bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.cart {
  width: 150px;
  padding-top: 14px;
  padding-right: 5px;
  padding-bottom: 13px;
  padding-left: 50px;
  position: relative;
}

.cart::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 12px;
  left: 17px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.cart:hover::before,
.cart:focus::before,
.bookmark:hover::before,
.bookmark:focus::before {
  opacity: 1;
}

.cart:active::before,
.bookmark:active::before {
  opacity: 0.5;
}

.order {
  width: 150px;
  padding-top: 13px;
  padding-right: 21px;
  padding-bottom: 14px;
  padding-left: 21px;
}

.slogan {
  width: 210px;
  margin-top: 45px;
  margin-right: 70px;
  margin-bottom: 44px;
  margin-left: 50px;
}

.phone {
  padding-top: 13px;
  padding-right: 52px;
  padding-bottom: 11px;
  padding-left: 74px;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
}

.phone::before {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  top: 13px;
  left: 40px;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contacts-header {
  width: 270px;
  margin: 0px;
  margin-top: 45px;
  margin-right: 40px;
  margin-bottom: 44px;
}

.address {
  width: 250px;
  margin-left: 15px;
}

.user-navigation {
  width: 299px;
}

.sign-in {
  width: 121px;
  background-color: #ffffff;
  padding-top: 14px;
  padding-right: 27px;
  padding-bottom: 11px;
  padding-left: 48px;
  margin-right: 10px;
  margin-top: 46px;
  margin-left: 59px;
  margin-bottom: 67px;
  position: relative;
}

.sign-in::before {
  content: "";
  width: 20px;
  height: 17px;
  position: absolute;
  top: 14px;
  left: 14px;
  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sign-up {
  width: 150px;
  background-color: #ffffff;
  padding-top: 14px;
  padding-right: 25px;
  padding-bottom: 11px;
  padding-left: 25px;
  margin-top: 46px;
  margin-bottom: 67px;
}

.user {
  width: 299px;
  background-color: #ffffff;
  padding-top: 14px;
  padding-right: 65px;
  padding-bottom: 11px;
  padding-left: 47px;
  margin-top: 45px;
  margin-bottom: 10px;
  position: relative;
}

.user::before {
  content: "";
  width: 20px;
  height: 18px;
  position: absolute;
  top: 13px;
  left: 14px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user::after {
  content: "";
  width: 20px;
  height: 17px;
  position: absolute;
  top: 14px;
  right: 13px;
  background-image: url("../img/logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user:hover::before,
.user:focus::before {
  background: url("../img/icon-user.svg") no-repeat 0 0;
}

.user:hover::after,
.user:focus::after {
  background: url("../img/icon-logout.svg");
}

.sign-in:hover::before,
.sign-in:focus::before {
  background: url("../img/icon-login.svg");
}


/*main*/

.info {
  width: 519px;
  margin-right: auto;
}

.info .text {
  margin-bottom: 36px;
}

.list {
  margin: 0px;
  margin-bottom: 37px;
}

.list li {
  margin-bottom: 10px;
}

.main-contacts {
  width: 300px;
}

.main-contacts .text {
  width: 179px;
  margin-bottom: 36px;
}

.info .button {
  width: 220px;
  padding-top: 14px;
  padding-right: 30px;
  padding-bottom: 12px;
  padding-left: 41px;
  display: block;
  text-align: center;
}

.main-contacts .button {
  width: 300px;
  padding-top: 14px;
  padding-right: 59px;
  padding-bottom: 12px;
  padding-left: 63px;
  display: block;
  text-align: center;
}

.contacts-map {
  margin: 0px;
  margin-bottom: 86px;
}

.map {
  margin-bottom: 37px;
}

.title {
  margin-top: 67px;
}

.category-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
  padding-top: 32px;
  padding-bottom: 34px;
  padding-left: 30px;
}

.desc {
  margin-bottom: 73px;
}

.filter {
  width: 220px;
  margin-right: 20px;
}

.catalog-list {
  width: 700px;
  margin-top: 20px;
  margin-bottom: 52px;
  padding: 0;
  align-items: stretch;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 20px;
  font-family:"PTSans", "Arial", sans-serif;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
}

.catalog-list .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item-image {
  width: 218px;
}

.catalog-item-image img {
  max-width: 100%;
}

.catalog-item-title {
  margin-top: 12px;
  margin-right: 15px;
  margin-bottom: 18px;  
  margin-left: 15px;  
}

.catalog-item-discount {
  margin-top: 18px;
  margin-bottom: 13px;
  color: #999999;
  text-decoration: line-through;
}

.catalog-item-new {
  position: absolute;
  top: -19px;
  right: -1px;
  width: 60px;
  height: 59px;
  overflow: hidden;
  text-indent: -1000px;
  z-index: 20;
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item-actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  background-color: #ffffff;
  z-index: 10;
  padding-top: 44px;
  padding-bottom: 44px;
}

.catalog-item-buy,
.catalog-item-bookmark {
  display: block;
  width: 135px;
  font-size: 14px;
  line-height: 18px;
  margin-right: 42px;
  margin-bottom: 8px;
  margin-left: 42px;
  text-transform: uppercase;
  border-radius: 3px;
}

.catalog-item-buy {
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
  padding: 14px 45px;
  color: #ffffff;
  position: relative;
}

.catalog-item-buy:hover,
.catalog-item-buy:focus  {
  background-color: #5fbb2d;
}

.catalog-item-buy:hover::before,
.catalog-item-buy:focus::before,
.catalog-item-buy:active::before {
  opacity: 1;
}

.catalog-item-buy:active {
  background-color: #518534;
}

.catalog-item-buy::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 12px;
  left: 20px;
  background: url("../img/cart.svg") no-repeat 0 0;
  opacity: 0.3;
}

.catalog-item-bookmark {
  border: 3px solid #63a63e;
  padding: 12px 10px;
  text-align: center;
  color: #32425c;
}

.catalog-item-bookmark:hover,
.catalog-item-bookmark:focus {
  border: 3px solid #32425c;
}

.catalog-item-bookmark:active {
  opacity: 0.3;
}

.catalog-item-price {
  position: relative;
  color: #000000;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  font-family: "PTSans", "Arial", sans-serif;
}

.catalog-item-price::after {
  content: "";
  width: 141px;
  height: 38px;
  position: absolute;
  top: -21px;
  left: -36px;
  background: url("../img/item-button.svg") no-repeat 0 0;
}

.catalog-item-actions {
  display: none;
}

.catalog-item:hover .catalog-item-actions {
  display: block;
}

.popular-item,
.popular-producer {
background-color: #f9f5f0;
}

.popular-item-title,
.popular-producer-title {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  margin-top: 33px;
  margin-left: 30px;
  margin-bottom: 35px;
  padding-right: 100px;
  margin-right: auto;
  text-transform: uppercase;
}

.popular-item a,
.popular-producer a {
  color: #ffffff;
  background-color: #ee3643;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 14px;
  padding-right: 55px;
  padding-bottom: 14px;
  padding-left: 55px;
  margin-top: 25px;
  margin-right: 24px;
  margin-bottom: 26px;
}

.popular-list {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: stretch;
}

.popular-list li {
  margin-right: 20px;
}

.popular-list li:nth-child(4n) {
  margin-right: 0;
}

.producer-list {
  list-style: none;
  align-items: stretch;
}

.producer-list li {
  width: 220px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}

.popular-producer li:nth-child(4n) {
  margin-right: 0;
}

/*footer*/

.logo-big {
  width: 220px;
  padding-top: 20px;
  padding-right: 41px;
  padding-bottom: 25px;
  padding-left: 41px;
  margin-right: 166px;
}

.footer-navigation {
  margin: 0;
  padding: 0;
}

.social {
  margin-top: 35px;
  margin-right: 90px;
  margin-bottom: 30px;
  margin-left: 100px;
  list-style: none;
  padding-left: 50px;
  padding-right: 50px;
}

.mail {
  width: 135px;
  margin-right: 53px;
  margin-top: 40px;
  margin-bottom: 35px;
}

.site {
  width: 96px;
  margin-top: 39px;
  margin-bottom: 34px;
}

.footer-contacts {
  width: 322px;
  margin-top: 0px;
  margin-right: 91px;
  margin-bottom: 53px;
}

.white-list {
  margin-top: 42px;
}

.yellow-list {
  margin-top: 45px;
}

.white-list li {
  margin-right: 60px;
}

.white-list li:last-child {
  margin-right: 0;
}

.yellow-list li {
  margin-right: 60px;
}

.yellow-list li:last-child {
  margin-right: 0;
}

.footer-contacts {
  margin-top: 45px;
}

.copyright {
  width: 228px;
  margin-top: 39px;
  margin-bottom: 35px;
}

.add-item {
  width: 620px;
  box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
  border-top: 7px solid red;
  position: relative;
}

.add-item-title {
    width: 340px;
    color: #000000;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    margin-top: 68px;
    margin-right: 120px;
    margin-bottom: 68px;
    margin-left: 160px;
}

.add-item::before {
  content: "";
  width: 66px;
  height: 66px;
  position: absolute;
  top: 48px;
  left: 60px;
  background-image: url("../img/modal-check.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.add-item::after {
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  top: 6px;
  right: 9px;
  background-image: url("../img/form-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.add-item-button {
  margin-top: 37px;
  margin-bottom: 37px;
  background-color: #f1f1f1;
}

.add-item-button-order {
  width: 220px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  padding-top: 14px;
  padding-right: 43px;
  padding-bottom: 12px;
  padding-left: 44px;
  margin-top: 37px;
  margin-right: 20px;
  margin-left: 80px;
  margin-bottom: 37px;
  text-align: center;
}

.add-item-button-continue {
  width: 220px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 0;
  padding: 0;
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  margin-top: 37px;
  margin-right: 80px;
  margin-bottom: 37px;
  text-align: center;
}

.appointment {
  width: 620px;
  border-top: 7px solid #ee3643;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  font-size: 18px;
  line-height: 18px;
  position: relative;
}

.appointment::after {
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  top: 6px;
  right: 9px;
  background-image: url("../img/form-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.appointment input::placeholder {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.appointment textarea {
  width: 460px;
  height: auto;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  border: 2px solid #c5c5c5;
  margin-top: 13px;
  border-radius: 3px;
}

.appointment input {
  width: 220px;
  min-height: 38px;
  margin-top: 13px;
  border: 2px solid #c5c5c5;
  border-radius: 3px;
}

.appointment input:hover,
.appointment input:focus {
  border: 2px solid #b5b5b5;
}

.appointment input:active {
  border: 2px solid #ee3643;
}

.appointment-item {
  width: 220px;
  margin: 0;
  margin-top: 81px;
}

.appointment-item-name {
  margin-left: 80px;
  margin-right: 20px;
  margin-bottom: 22px;
}

.appointment-item-email {
  margin-right: 80px;
}

.appointment-text {
  margin-top: 0;
  margin-right: 80px;
  margin-bottom: 37px;
  margin-left: 80px;
}

.submit {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 460px;
  background-color: #ee3643;
  box-sizing: border-box;
  padding-top: 14px;
  padding-right: 199px;
  padding-bottom: 14px;
  padding-left: 199px;
  margin-top: 37px;
  margin-right: 80px;
  margin-bottom: 37px;
  margin-left: 80px;
  border: none;
}

.submit-button {
  background-color: #f1f1f1;
  margin: 0;
}
